<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://kit.fontawesome.com/cb5b5cdb42.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/index.css">
  <script src="https://gumroad.com/js/gumroad-embed.js"></script>
  <title>{{ title }} - Sassy Roots</title>
</head>
<body>
    {% include 'patterns/header.md'  %}
    {{ content }}
    {% include 'patterns/footer.md'  %}
</body>
</html>